<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.qc.yyzs"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ListMusicAcyivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".activity.SearchMActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".activity.RegisterActivity">
        </activity>
        <activity android:name=".activity.UserInfoActivity">
        </activity>
        <activity android:name=".activity.AboutActivity">
        </activity>
        <activity android:name=".activity.UpActivity">
        </activity>
        <activity android:name=".activity.CheckBgActivity">
        </activity>
        <activity android:name=".activity.HelpActivity">
        </activity>
        <activity
            android:name=".activity.DJActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            >
        </activity>
        <activity android:name=".activity.DJListMusicActivity"
                  android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="com.qc.yyzs.activity.CustomVideoPlayer"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rtsp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="application/sdp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="video/*"
                    android:scheme="http" />
                <data
                    android:mimeType="video/*"
                    android:scheme="rtsp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="rtmp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="udp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="tcp" />
                <data
                    android:mimeType="video/*"
                    android:scheme="file" />
                <data
                    android:mimeType="video/*"
                    android:scheme="content" />
                <data
                    android:mimeType="video/*"
                    android:scheme="mms" />
                <data android:mimeType="application/octet-stream" />
                <data android:mimeType="application/x-mpegurl" />
                <data android:mimeType="application/vnd.apple.mpegurl" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:mimeType="application/x-mpegurl"
                    android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="mms" />
                <data android:scheme="tcp" />
                <data android:scheme="udp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="video/*" />
                <data android:mimeType="application/sdp" />
                <data android:mimeType="application/octet-stream" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="mms" />
                <data android:scheme="tcp" />
                <data android:scheme="udp" />
                <data android:scheme="gopher" />
                <data android:mimeType="video/*" />
                <!-- <data android:mimeType="audio/*" /> -->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="ftp" />
                <data android:scheme="rtsp" />
                <data android:scheme="rtmp" />
                <data android:scheme="mms" />
                <data android:scheme="tcp" />
                <data android:scheme="udp" />
                <data android:scheme="gopher" />
                <data android:host="*" />
                <data android:pathPattern=".*\\.avi" />
                <data android:pathPattern=".*\\.asf" />
                <data android:pathPattern=".*\\.f4v" />
                <data android:pathPattern=".*\\.flv" />
                <data android:pathPattern=".*\\.mkv" />
                <data android:pathPattern=".*\\.mpeg" />
                <data android:pathPattern=".*\\.mpg" />
                <data android:pathPattern=".*\\.mov" />
                <data android:pathPattern=".*\\.rm" />
                <data android:pathPattern=".*\\.vob" />
                <data android:pathPattern=".*\\.wmv" />
                <data android:pathPattern=".*\\.ts" />
                <data android:pathPattern=".*\\.tp" />
                <data android:pathPattern=".*\\.m3u" />
                <data android:pathPattern=".*\\.m3u8" />
                <data android:pathPattern=".*\\.m4v" />
                <data android:pathPattern=".*\\.mp4" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="rtsp" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="rtsp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name="com.qc.yyzs.activity.CustomAudioPlayer"
                  android:launchMode="singleTask"></activity>

        <service android:name="com.qc.yyzs.service.MusicPlayerService">
            <intent-filter>
                <action android:name="com.qc.yyzh.service.MUSICPLAYERSERVICE" />
            </intent-filter>
        </service>

    </application>

</manifest>
